@media only screen and (max-width: 1200px) {

    .innerContent {
        margin-right: 15px;
        margin-left: 15px;
    }

    .boxes .box img {
        width: 100px;
    }

    .boxes .box:nth-child(4) img, .boxes .box:nth-child(5) img {
        width: 70px !important;
    }

    #intro .card img {
        height: 110px;
    }

    #intro .card:nth-child(2) .desc span {
        font: normal normal bold var(--text-size)/20px var(--font-family);
    }

    #intro .card .desc img {
        height: 27px;
    }
}

@media only screen and (max-width: 900px) {

    .boxes {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .boxes .box {
        width: calc(33% - 15px - 30px);
        min-height: 240px;
    }

    #intro .scroll-arrows {
        padding-right: 10px;
    }

    #intro .card {
        width: calc((100% - 60px) / 3 - 50px);
        margin-right: 15px;
    }

    #sliderCanvas {
        width: calc(100% - 270px - 50px - 60px - 30px - 50px);
        top: 40px;
    }

    #intro .card img {
        height: 90px;
    }
}

@media only screen and (max-width: 768px) {

    #top-banner {
        margin-left: 10px;
        padding-left: 25px;
        height: calc(100vh - var(--navbar-height) - 5px);
    }

    #top-banner .bigTexts .bigSliderText {
        font: normal normal bold var(--monster-text-size)/64px var(--font-family);
    }

    #sliderCanvas {
        position: relative;
        width: 100%;
        height: 200px;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
    }

    #top-banner .smallText {
        position: unset;
        width: 100%;
        font: normal normal normal var(--medium-tiny-text-size)/20px var(--font-family);
        margin-top: 50px;
    }

    #sliderCanvas .bubbles {
        top: 200px;
    }

    .innerContent {
        margin-left: 10px;
        margin-right: 10px;
    }

    .boxes {
        flex-wrap: wrap;
        height: unset;
        margin-bottom: 20px;
        gap: unset;
    }

    .boxes .box:nth-child(even) {
        margin-top: 20px;
        width: calc(50% - 10px - 10px);
        padding: 15px 5px 15px;
    }

    .boxes .box:nth-child(odd) {
        margin-top: 20px;
        margin-right: unset;
        width: calc(50% - 10px);
        padding: 15px 5px 15px;
    }

    .boxes .box:first-child {
        width: 100%;
        margin-top: unset;
    }

    .boxes .box:first-child p {
        float: left;
        width: calc(100% - 105px);
    }

    .boxes .box:first-child .title {
        margin-top: 30px !important;
        margin-left: 10px !important;
    }

    .boxes .box:first-child .desc {
        margin-left: 10px !important;
    }

    .boxes .box:first-child img {
        float: right;
        margin: 0 !important;
    }

    .boxes .box:nth-child(4) img, .boxes .box:nth-child(5) img {
        width: 80px !important;
    }

    .boxes .box .title {
        font: normal normal bold var(--text-size)/20px var(--font-family);
    }

    .boxes .box .desc {
        font: normal normal normal var(--tiny-text-size)/20px var(--font-family);
    }

    .boxes .box img {
        width: 90px;
    }

    .three-col {
        width: 100%;
        overflow: auto;
        height: 90px;
    }

    .three-col div:nth-child(1) {
        width: unset !important;
        height: 50px;
    }

    .three-col div {
        width: 220px !important;
        height: 50px;
    }

    .three-col div .title {
        font: normal normal bold var(--text-size)/20px var(--font-family);
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .three-col div .desc {
        font: normal normal normal var(--medium-tiny-text-size)/16px var(--font-family);
        padding-right: 5px;
    }

    #products {
        margin-right: unset;
        flex-wrap: wrap-reverse;
        border-radius: unset;
    }

    #products .left {
        float: unset;
        width: calc(100% - 40px);
    }

    #products .right img {
        height: 200px;
    }

    #products .left .nav {
        width: 100%;
        margin-top: -260px;
    }

    #products .content {
        margin-top: 220px;
    }

    #products .content .title {
        width: 100%;
        word-break: break-all;
        white-space: normal;
        font: normal normal bold var(--text-size)/20px var(--font-family);
    }

    #products .content .desc {
        width: 100%;
        word-break: break-all;
        white-space: normal;
        font: normal normal normal var(--tiny-text-size)/20px var(--font-family);
    }

    #products .content .bubbles {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #productBackArrow, #productNextArrow {
        display: none;
    }

    #productsTagParent {
        float: unset;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }

    #products .right {
        float: unset;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #intro {
        width: 100%;
        height: 370px;
    }

    #intro .scroll-arrows {
        padding-right: 20px;
    }

    #intro .card {
        width: 230px;
        min-width: 230px;
        margin-right: 15px;
        height: unset;
    }

    #intro .card img {
        height: 100px;
    }

    #intro .card:nth-child(2) .desc span {
        font: normal normal bold var(--medium-tiny-text-size)/20px var(--font-family);
    }

    #intro .card .desc img {
        height: 30px;
        margin-right: -5px;
    }

    #intro .card h1 {
        font: normal normal bold var(--text-size)/20px var(--font-family);
    }

    #intro .card p {
        font: normal normal normal var(--medium-tiny-text-size)/20px var(--font-family);
    }

    #products {
        margin-top: 70px;
    }

    #products .content {
        margin-top: 190px;
        position: unset;
    }
}
