@media only screen and (max-width: 1200px) {
    .innerContent {
        margin-right: 15px;
        margin-left: 15px;
    }

    .boxes .box img {
        width: 100px;
    }

    .boxes .box:nth-child(4) img,
    .boxes .box:nth-child(5) img {
        width: 70px !important;
    }

    #intro .card img {
        height: 110px;
    }

    #intro .card:nth-child(2) .desc span {
        font: normal normal bold var(--text-size) / 20px var(--font-family);
    }

    #intro .card .desc img {
        height: 27px;
    }
}

/* @media only screen and (max-width: 900px) {
    .boxes {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .boxes .box {
        width: calc(33% - 15px - 30px);
    }

    #intro .scroll-arrows {
        padding-right: 10px;
    }

    #intro .card {
        width: calc((100% - 60px) / 3 - 50px);
        margin-right: 15px;
    }

    #sliderCanvas {
        width: calc(100% - 270px - 50px - 60px - 30px - 50px);
        top: 40px;
    }

    #intro .card img {
        height: 90px;
    }
} */
@media only screen and (max-width: 500px) {
    .videos .box {
        width: 95%;
    }
    #all .item {
        margin-top: 160px;
        width: 90% !important;
    }
    footer .col:first-child {
        width: 100% !important;
        order: 1 !important;
    }
}
@media only screen and (max-width: 768px) {
    .videos {
        width: 95% !important;
    }

    .prdBox {
        flex-direction: column-reverse !important;
        height: 550px !important;
    }
    .textBox {
        width: 98% !important;
        height: 50%;
    }
    .imgBox {
        width: 98% !important;
        height: 50%;
    }
    .textBox .topic {
        margin-top: 0px !important;
    }
    .mainSlider .title h1 {
        line-height: 30px;
        font-size: 17px;
    }
    #top-banner {
        margin-left: 10px;
        padding-left: 25px;
        height: calc(85vh - var(--navbar-height) - 5px) !important;
        display: flex;
        flex-direction: column;
    }

    #top-banner .bigTexts .bigSliderText {
        font: normal normal bold var(--monster-text-size) / 64px
            var(--font-family);
    }

    #sliderCanvas {
        position: relative;
        width: 100%;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        height: unset;
    }

    #top-banner .smallText {
        position: unset;
        width: 90%;
        margin-top: auto;
        font: normal normal normal var(--medium-tiny-text-size) / 20px
            var(--font-family);
    }

    #sliderCanvas .bubbles {
        top: 200px;
    }

    .innerContent {
        margin-left: 10px;
        margin-right: 10px;
    }

    .boxes.mobile {
        flex-wrap: wrap;
        display: flex !important;
        height: unset;
        margin-bottom: 20px;
        gap: 10px;
        justify-content: center;
    }

    /* .boxes.mobile > .box:first-child {
        width: calc(100% - 20px);
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: unset;
    } */

    /* .boxes.mobile > .table-row {
        display: flex;
        margin-top: 10px;
        width: 100%;
        gap: 5px;
    }

    .boxes.mobile > .table-row .box {
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: unset;
    } */
    .boxes .box {
        width: 40%;
    }
    .boxes .box img {
        width: 75%;
        max-width: 100px;
        align-self: center;
    }

    .boxes .box:first-child .title {
        margin-top: 30px !important;
        margin-left: 10px !important;
    }

    .boxes .box:first-child .desc {
        margin-left: 10px !important;
    }

    /*.boxes .box:nth-child(4) img,*/
    /* .boxes .table-row:last-child .box:last-child img {
        width: 50% !important;
        margin-bottom: 20px;
    } */

    .boxes .box .title {
        font: normal normal bold var(--text-size) / 20px var(--font-family);
    }

    .boxes .box .desc {
        font: normal normal normal var(--tiny-text-size) / 18px
            var(--font-family);
    }

    .three-col {
        width: 100%;
        overflow: auto;
        height: 90px;
    }

    .three-col div:nth-child(1) {
        width: unset !important;
        height: 50px;
    }

    .three-col div {
        width: 220px !important;
        height: 50px;
    }

    .three-col div .title {
        font: normal normal bold var(--text-size) / 20px var(--font-family);
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .three-col div .desc {
        font: normal normal normal var(--medium-tiny-text-size) / 16px
            var(--font-family);
        padding-right: 5px;
    }

    #products {
        margin-right: unset;
        flex-wrap: wrap-reverse;
        border-radius: unset;
    }

    #products .left {
        float: unset;
        width: calc(100% - 40px);
    }

    #products .right img {
        height: 200px;
    }

    #products .left .nav {
        width: 100%;
        margin-top: -260px;
    }

    #products .content {
        margin-top: 220px;
    }

    #products .content .title {
        width: 100%;
        word-break: break-word;
        white-space: normal;
        font: normal normal bold var(--text-size) / 20px var(--font-family);
    }

    #products .content .desc {
        width: 100%;
        word-break: break-word;
        white-space: normal;
        font: normal normal normal var(--tiny-text-size) / 20px
            var(--font-family);
    }

    #products .content .bubbles {
        /* padding-left: 20px;
        padding-bottom: 20px; */
    }

    #productBackArrow,
    #productNextArrow {
        display: none;
    }

    #productsTagParent {
        float: unset;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }

    #products .right {
        float: unset;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #intro {
        width: 90%;
        height: fit-content;
    }

    #intro .scroll-arrows {
        padding-right: 20px;
    }

    #intro .card {
        width: 45%;
        /* min-width: 230px; */
        margin-right: 15px;
        height: unset;
    }

    #intro .card img {
        height: 100px;
    }

    #intro .card:nth-child(2) .desc span {
        font: normal normal bold var(--medium-tiny-text-size) / 20px
            var(--font-family);
    }

    #intro .card .desc img {
        height: 30px;
        margin-right: -5px;
    }

    #intro .card h1 {
        font: normal normal bold var(--text-size) / 20px var(--font-family);
    }

    #intro .card p {
        font: normal normal normal var(--medium-tiny-text-size) / 20px
            var(--font-family);
    }

    #products {
        margin-top: 70px;
    }

    #products .content {
        margin-top: 190px;
        position: unset;
    }
    .bigTexts {
        display: none;
    }
    #sliderCanvas {
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
        width: 90%;
        margin-top: 15px;
        height: calc(100% - 80px - 70px);
    }
    #top-banner {
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(105vh - var(--navbar-height) - 50px);
    }
    #top-banner .smallText {
        position: relative;
        bottom: unset;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .videos .box {
        width: 44%;
    }
    footer .col:first-child {
        order: 1 !important;
    }
    #all .item {
        width: 45%;
        margin: 140px 0px 10px 0px;
    }
}
/* @media screen and (max-height: 400px),
    screen and (min-width: 650px) and (max-width: 768px) {
    #top-banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
    }

    #top-banner .smallText {
        margin-top: 20px;
    }

    #sliderCanvas {
        width: 60%;
        top: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .boxes.mobile > .table-row {
        gap: 10px;
    }

    .boxes.mobile > .table-row .box {
        width: calc(50% - 30px);
        padding: 10px;
    }
} */
@media only screen and (max-width: 1100px) and (min-width: 769px) {
    .videos {
        width: 95% !important;
    }
    #intro .card {
        width: 50%;
    }
    .bigTexts {
        display: none;
    }
    #sliderCanvas {
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
        width: 90%;
        margin-top: 15px;
        height: calc(100% - 80px - 70px);
    }
    #top-banner {
        margin-left: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(105vh - var(--navbar-height) - 50px);
    }
    #top-banner .smallText {
        position: relative;
        bottom: unset;
        margin-top: 25px;
    }

    .boxes .box {
        width: 46%;
    }
    #all {
        margin-left: 40px;
        margin-right: 40px;
    }
    #all .item {
        width: 45%;
        margin: 110px 0px 60px 0px !important;
    }
    #contact {
        flex-wrap: wrap;
        gap: 10px;
    }
    #contact input {
        margin-right: unset !important;
        width: calc(50% - 25px) !important;
    }
    #contact button {
        width: calc(50% - 5px) !important;
    }
    #intro {
        width: 80%;
    }
    .videos {
        width: 80% !important;
    }
    .videos .box {
        width: 46% !important;
    }
}
@media only screen and (min-width: 1101px) {
    #all .item {
        width: 30%;
        margin: 140px 0px 30px 0px !important;
    }
    #intro .card {
        width: 50%;
    }
    .videos .box {
        width: 30%;
    }
}
