#top-banner {
    height: calc(100vh - var(--navbar-height) - 50px);
    margin-left: 50px;
    margin-bottom: 30px;
    background: transparent
        linear-gradient(64deg, var(--green-color) 0%, #193020 48%, #080f0b 100%)
        0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    padding-left: 80px;
    color: white;
}

.big-bubble {
    width: 10px;
    height: 10px;
    background: #ffffff85 0% 0% no-repeat padding-box;
    border-radius: 50%;
    align-self: center;
}

#sliderCanvas #hand {
    /*position: absolute;*/
    /*top: 20px;*/
    margin-top: 5px;
}

#sliderCanvas #hand img {
    width: 20px;
}

/*.table-row {*/
/*    display: contents;*/
/*}*/

.big-bubble:first-child {
    margin-right: 2px;
}

.big-bubble:last-child {
    margin-left: 7px;
}

#top-banner .bigTexts {
    padding-top: 20px;
}

#top-banner .bigTexts .bigSliderText {
    font: normal normal bold var(--monster-text-size) / 85px var(--font-family);
}

#top-banner .smallText {
    position: absolute;
    width: 500px;
    bottom: 30px;
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    text-align: justify;
    word-break: break-word;
    margin-top: 50px;
}

#sliderCanvas {
    position: absolute;
    right: 30px;
    top: 80px;
    bottom: 200px;
    width: calc(100% - 500px - 50px - 60px - 30px - 50px);
    height: calc(100% - 80px - 200px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#sliderCanvas .bubbles {
    height: 20px;
    /*width: 200px;*/
    /*position: absolute;*/
    /*top: calc(100% + 30px);*/
    /*left: calc(50% - 100px);*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sliderCanvas .bubbles .bubble {
    background-color: var(--bubble-color);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin-left: 5px;
    align-self: center;
}

#sliderCanvas .bubbles .selected-bubble {
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    margin-top: -2px;
}

.innerContent {
    margin-right: 90px;
    margin-left: 90px;
}

.boxes {
    display: flex;
    margin-bottom: 80px;
}

.boxes .box {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    margin-right: 10px;
    width: calc(20% - 15px - 30px);
    padding: 35px 15px 20px;
}

.boxes .box .title {
    color: var(--silver);
    display: block;
    font: normal normal bold var(--little-big-text-size) / 20px
        var(--font-family);
    margin: 0 !important;
}

.boxes .box .desc {
    color: var(--silver);
    display: block;
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    margin-top: 10px !important;
    text-align: justify;
}

.boxes .box img {
    display: block;
    margin: 0 auto;
    width: 130px;
}

.boxes .box:nth-child(5) .title {
    margin-top: 10px !important;
}

.boxes .box:nth-child(4) img,
.boxes .box:nth-child(5) img {
    width: 100px !important;
}

.three-col {
    height: 80px;
    display: flex;
    overflow: auto;
}

.three-col div {
    align-self: center;
    display: flex;
    cursor: pointer;
    padding-right: 20px;
    height: 100%;
}

.three-col > div:nth-child(1) {
    max-width: 450px;
}

.three-col > div:nth-child(2) {
    max-width: 270px;
}

.three-col div div {
    margin-left: 10px;
    display: block;
    width: max-content;
}

.three-col div .title {
    font: normal normal bold var(--little-big-text-size) / 20px
        var(--font-family);
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.three-col div .desc {
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    margin-top: 0 !important;
    color: var(--light-silver);
}

#products {
    margin-top: 150px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    /*height: 240px;*/
    display: flex;
    margin-right: 120px;
}

#productLoader {
    margin: 0 auto;
    width: 100px;
    height: min-content;
    display: block;
    align-self: center;
}

#products .left {
    float: left;
    width: 50%;
    position: relative;
}

#products .left .nav {
    height: 45px;
    margin-left: 15px;
    margin-top: -45px;
}

#productsTagParent {
    float: left;
    width: calc(100% - 140px);
    height: 100%;
    overflow: hidden;
}

#productsTag {
    display: flex;
    /*overflow: hidden;*/
}

#products .left .nav .item {
    white-space: nowrap;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 20px 20px 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font: normal normal bold var(--little-big-text-size) / 20px
        var(--font-family);
    color: var(--silver);
    cursor: pointer;
    height: 100%;
    margin-left: 5px;
}

#products .left .nav .selected {
    background: var(--main-color) 0% 0% no-repeat padding-box;
    color: white;
}

#products .left .nav .backArrow,
#products .nav .nextArrow {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 20px 20px 0px 0px;
    width: 60px;
    height: 100%;
    float: left;
    cursor: pointer;
}

#products .left .nav .nextArrow {
    margin-left: 5px;
    margin-right: 15px;
    clear: right;
}

#products .left .nav .backArrow img,
#products .nav .nextArrow img {
    height: 25px;
    margin-top: 15px;
}

#products .left .nav .backArrow img {
    margin-left: 20px;
}

#products .left .nav .nextArrow img {
    margin-left: 25px;
}
.nextArrow {
    cursor: pointer;
}
.backArrow {
    cursor: pointer;
}
#products .content {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
}

#products .content .title {
    font: normal normal bold var(--tiny-big-text-size) / 20px var(--font-family);
    color: var(--silver);
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#products .content .desc {
    font: normal normal bold var(--medium-tiny-text-size) / 20px
        var(--font-family);
    color: var(--silver);
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    word-break: break-word;
    white-space: normal;
}

#products .content .bubbles {
    padding-left: 5px;
    /* padding-top: 10px; */
    display: flex;
}

/*#products .content .bubbles .bubble {*/
/*    background-color: var(--bubble-color);*/
/*    border-radius: 50%;*/
/*    width: 6px;*/
/*    height: 6px;*/
/*    float: left;*/
/*    cursor: pointer;*/
/*    margin-left: 5px;*/
/*}*/

/*#products .content .bubbles .selected-bubble {*/
/*    background-color: var(--main-color);*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    margin-top: -1px;*/
/*}*/

#products .right {
    float: left;
    margin-top: -70px;
}

#products .right img {
    display: inline-block;
    /*width: 600px;*/
    height: 350px;
    border-radius: 20px;
}

#intro {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /*height: 350px;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

#intro .scroll-arrows {
    width: 30px;
    padding-left: 20px;
    padding-right: 40px;
}

#intro .scroll-arrows img {
    width: 15px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

#intro .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: calc((100% - 80px) / 3 - 50px);
    margin-right: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#intro .card img {
    height: 150px;
    margin: 0 auto;
    display: block;
    width: 80%;
    max-width: 190px;
}

#intro .card > div {
    margin-top: auto;
}

#intro .card .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#intro .card .desc span {
    font: normal normal bold var(--medium-tiny-text-size) / 20px
        var(--font-family);
    align-self: center;
}

#intro .card:nth-child(2) .desc span {
    font: normal normal bold var(--big-text-size) / 20px var(--font-family);
    color: var(--light-silver);
}

#intro .card .desc img {
    height: 40px;
    max-width: 40px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
}

#intro .card h1 {
    font: normal normal bold var(--big-text-size) / 20px var(--font-family);
    color: var(--main-color);
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
}

#intro .card p {
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    color: var(--silver);
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
    text-align: justify;
}

#webgl-container .good {
    color: var(--light-silver) !important;
    padding-top: 20px;
    text-align: center;
}

#webgl-container canvas {
    margin: 0 auto;
    display: block;
}
