#products {
    min-height: calc(100vh - 450px);
}

#products .card {
    margin-top: 320px;

    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    position: relative;

    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 120px);

    padding: 10px;
}

#products .card .img {
    position: absolute;
    left: 30px;
    width: calc(100% - 60px);
    height: 500px;
    top: -290px;
}

#products .card .date {
    font: normal normal bold var(--tiny-text-size) / 20px var(--font-family);
    color: var(--main-color);
    margin-top: 20px;
}

#products .card h2,
#products .card h3 {
    font-family: var(--font-family);
}

#products .card p {
    width: calc(100% - 20px);
    margin-right: 20px;
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    color: var(--silver);
    word-break: break-word;
    white-space: normal;
}

#products .card h1 {
    width: calc(100% - 20px);
    margin-right: 20px;
    font: normal normal bold var(--big-text-size) / 24px var(--font-family);
    color: var(--silver);
    word-break: break-word;
    white-space: normal;
    margin-top: 20px !important;
}
#products .card ul li {
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    margin-right: unset;
    margin-left: 20px;
}
#products .card ol li {
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    margin-right: unset;
    margin-left: 20px;
}
