:root {
    --main-color: #da0000;
    --navbar-height: 80px;
    --back-color: #f3f2f2;
    --bogen-logo-width: 122px;
    --silver: #5d5d5d;
    --light-silver: #727272;
    --font-family: Segoe UI;
    --monster-text-size: 72px;
    --text-size: 16px;
    --tiny-text-size: 12px;
    --medium-tiny-text-size: 14px;
    --little-big-text-size: 18px;
    --tiny-big-text-size: 20px;
    --big-text-size: 22px;
    --medium-big-text-size: 28px;
    --very-big-text-size: 36px;
    --bubble-color: #b8b8b8;
    --green-color: #24462f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--back-color);
    overflow-x: hidden;
}

#navbar {
    height: var(--navbar-height);
    position: relative;
    width: 100%;
}

#bogenLogo {
    /* Layout Properties */
    position: absolute;
    top: 0;
    left: 0;
    width: var(--bogen-logo-width);
    height: 100%;
    /* UI Properties */
    background: var(--main-color) 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

#bogenLogo span:first-child {
    /* Layout Properties */
    margin-top: 18px !important;
    margin-left: 5px;
    margin-bottom: -5px;
    display: inline-block !important;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 30px/40px var(--font-family);
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
}

#bogenLogo span:last-child {
    /* Layout Properties */
    margin-left: 63px !important;
    margin-top: -8px;
    display: inline-block !important;
    /* UI Properties */
    text-align: left;
    font: normal normal lighter 20px/27px var(--font-family);
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
}

#menuContainer {
    position: absolute;
    left: calc(var(--bogen-logo-width) + 10px);
    height: 100%;
    width: calc(100% - var(--bogen-logo-width) - 10px);
}

#secondLogo {
    height: calc(100% - 10px);
    margin-top: 5px;
    width: 65px;
    float: left;
}

#menu {
    height: 100%;
    background-color: #ffffff;
    margin-left: 5px;
    width: calc(100% - 65px - 5px);
    box-shadow: 0px 3px 6px #00000029;
    float: left;
    display: flex;
}

#menu p a {
    text-decoration: none !important;
    color: inherit !important;
}

#menu p {
    color: var(--main-color);
    font: normal normal normal var(--little-big-text-size) / 33px
        var(--font-family);
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

#menu p:not(.selected) {
    color: var(--silver) !important;
}

#menu button {
    background-color: var(--main-color);
    color: white;
    width: 140px;
    align-self: center;
    height: 50px;
    border: 1px solid white;
    font: normal normal bold 18px/33px var(--font-family);
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.content {
    margin-top: 20px;
}

.bubbles .bubble {
    background-color: var(--bubble-color);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

.bubbles .selected-bubble {
    background-color: var(--main-color);
    width: 8px;
    height: 8px;
    margin-top: -1px;
}

.dispalyFlexProduct {
    display: flex;
}
.dispalyFlexProduct > img {
    margin: auto;
}
.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.ck-widget > img {
    max-width: 100%;
}

.hidden-on-desktop {
    display: none !important;
}

.hidden-on-mobile:not(.hidden) {
    width: 80%;
    margin: 40px auto;
    flex-wrap: wrap;
    gap: 6px;
    display: flex;
}

.bogen-loader {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: max-content;
}
html {
    font-size: 14px !important;
}

a {
    text-decoration: none;
    color: #0089b7;
}

hr {
    margin: 0;
    padding: 0;
    background-color: #a0a0a0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
@media (min-width: 990px) {
    h1 {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 60px;
        margin-top: 5px;
    }
    h2 {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 32px;
        margin-top: 5px;
    }
    h3 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 32px;
        margin-top: 5px;
    }
    h4 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 30px;
        margin-top: 5px;
    }
}
@media only screen and (min-width: 761px) and (max-width: 989px) {
    h1 {
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 45px;
        margin-top: 5px;
    }
    h2 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 32px;
        margin-top: 5px;
    }
    h3 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 32px;
        margin-top: 5px;
    }
    h4 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 30px;
        margin-top: 5px;
    }
}
@media (max-width: 760px) {
    h1 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 40px;
        margin-top: 5px;
    }
    h2 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 30px;
        margin-top: 5px;
    }
    h3 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 30px;
        margin-top: 5px;
    }
    h4 {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 5px;
        line-height: 30px;
        margin-top: 5px;
    }
}
