#all {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

#news {
    margin: 10px;
}

#topSection {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
}

#topSection .row {
    width: calc(50% - 10px);
    padding: 5px;
}

#topSection .item {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}

#topSection .item h1 {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 10px;
    font: normal normal bold var(--big-text-size)/36px var(--font-family);
}

#topSection .item p {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 10px;
    word-break: break-all;
    white-space: normal;
    font: normal normal normal var(--text-size)/20px var(--font-family);
}

#topSection .row:nth-child(1) .item:nth-child(1) {
    height: 300px;
}

#topSection .row:nth-child(1) .item:nth-child(2) {
    height: 200px;
}

#topSection .row:nth-child(2) .item:nth-child(1) {
    height: 200px;
}

#topSection .row:nth-child(2) .item:nth-child(2) {
    height: 300px;
}
