#products #all-tags {
    display: flex;
    padding: 10px;
}

#products #all-tags .tag {
    font: normal normal bold var(--text-size)/24px var(--font-family);
    background: var(--main-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
}

#products #all-tags .tag:not(.selected) {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: var(--silver);
}

#products .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin-top: 60px;
    margin-right: 100px;
    width: calc(100% - 100px);
    display: flex;
    height: 250px;
}

#products .card .desc {
    margin-left: 50px;
    width: 50%;
}

#products .card .img {
    width: 50%;
    position: relative;
}

#products .card .img .more {
    position: absolute;
    bottom: 20px;
    height: 40px;
    width: 80px;
    left: -80px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--main-color);
    font: normal normal bold var(--text-size)/24px var(--font-family);
    color: white;
    cursor: pointer;
}

#products .card .img .more span {
    margin-top: 7px;
    margin-right: 10px;
    display: block;
    text-align: right;
}

#products .card .img img {
    width: calc(100% - 20px);
    margin-right: 20px;
    height: calc(100% + 60px);
    border-radius: 20px;
    margin-top: -30px;
}

#products .card .desc  .tags {
    margin-top: 70px;
}

#products .card .desc  .tags span {
    color: var(--main-color);
    font: normal normal normal var(--text-size)/24px var(--font-family);
    margin-left: 10px;
}

#products .card .desc  .tags span:first-child {
    margin-left: 0;
}

#products .card .desc  p {
    width: calc(100% - 95px);
    margin-right: 95px;
    font: normal normal normal var(--text-size)/24px var(--font-family);
    color: var(--silver);
    word-break: break-all;
    white-space: normal;
}

#products .card .desc  h1 {
    width: calc(100% - 80px);
    margin-right: 80px;
    font: normal normal bold var(--big-text-size)/24px var(--font-family);
    color: var(--silver);
    word-break: break-all;
    white-space: normal;
}
