#videos {
    margin-top: 50px;
    /* border-radius: 0 20px 20px 0; */
    background-color: white;
    /*height: 240px;*/
    display: flex;
    padding: 20px 20px 80px;
    /* flex-wrap: wrap; */
}

#videos .first-row {
    width: 100%;
    display: flex;
    clear: both;
    position: relative;
}

#videos .first-row-img {
    width: 75%;
    /*float: left;*/
    z-index: 2;
    position: relative;
}

#videos .first-row-img .div-image-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
}

#videos .first-row-decs {
    padding-left: 20px;
    width: calc(25% - 20px);
    margin-top: 70px;
    margin-bottom: 80px;
}

#videos .first-row-decs .title {
    font: normal normal bold var(--medium-big-text-size) / 36px
        var(--font-family);
    color: var(--silver);
}

#videos .first-row-decs .desc {
    font: normal normal normal var(--little-big-text-size) / 24px
        var(--font-family);
    color: var(--silver);
}

#videos .second-row {
    width: 100%;
    clear: both;
    margin-top: 20px;
}

#videos .second-row-img {
    float: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#videos .second-row-img img {
    width: 300px;
    z-index: 2;
    position: absolute;
}

#videos .second-row-img .txt {
    width: calc(100% - 300px - 40px);
    padding-left: 20px;
    padding-right: 20px;
}

#videos .second-row-img h1 {
    font: normal normal bold var(--little-big-text-size) / 20px
        var(--font-family);
    color: var(--silver);
}

#videos .second-row-img p {
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    color: var(--silver);
}

#videos .first-row .play {
    width: 100px;
    position: absolute;
    left: calc(100% / 2 - 50px);
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 3;
}

#videos .first-row .video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

#videos .second-row .play {
    width: 50px;
    position: absolute;
    left: calc(300px / 2 - 25px);
    top: calc(50% - 25px);
    cursor: pointer;
    z-index: 3;
}

.video-container {
    height: 250px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.first-row-decs .more,
.txt .more {
    color: var(--main-color);
    font: normal normal bold var(--text-size) / 20px var(--font-family);
    cursor: pointer;
}
.videos {
    width: 70%;
    margin: 40px auto;
    flex-wrap: wrap;
    gap: 6px;
    display: flex;
}
.videos .box {
    background: #ffffff 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 6px #00000029; */
    border-radius: 20px;
    padding: 35px 10px 20px;
}
.videos .box .desc {
    color: var(--silver);
    display: block;
    font: normal normal normal var(--text-size) / 20px var(--font-family);
    margin-top: 10px !important;
    text-align: justify;
}
.videos .box .title {
    color: var(--silver);
    display: block;
    font: normal normal bold var(--little-big-text-size) / 20px
        var(--font-family);
    margin: 0 !important;
}
.videos .box .img {
    display: block;
    margin: 0 auto;
    width: 130px;
}

.videos .box .video {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}
.videos .box .img-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.videos .box .more {
    cursor: pointer;
}
