#all {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    display: flex;
    direction: rtl;
}

#all > div {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    direction: ltr;
}

#all > div:nth-child(1) {
    width: 25%;
    display: block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    position: relative;
    height: max-content;
    padding: 10px 10px 20px;
}

#all #categories .cats {
    display: flex;
}

#all #categories .cats .cat {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font: normal normal bold var(--text-size)/24px var(--font-family);
    color: var(--silver);
}

#all #categories .cats .selected {
    background-color: var(--main-color);
    color: white;
}

#all #categories p {
    margin-left: 10px;
    font: normal normal normal var(--text-size)/24px var(--font-family);
    color: var(--silver);
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

#all > div:nth-child(1) h1 {
    font: normal normal normal var(--big-text-size)/24px var(--font-family);
    color: var(--silver);
}

#all .item {
    width: calc(50% - 80px) !important;
    margin: 140px 30px 30px !important;
}

#all .item img {
    top: -150px !important;
    height: 250px !important;
}

#all .item h1 {
    padding-top: 100px !important;
}
