@media only screen and (max-width: 768px) {
    #slider-h,
    #slider-p {
        word-break: break-word;
        white-space: normal;
    }

    #slider .images {
        margin-right: 0;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #slider .images img {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #slider .texts {
        padding: 10px 20px 10px 20px;
    }

    #slider .texts p:first-child {
        font-size: var(--text-size);
    }

    #slider .texts p:last-child {
        font: normal normal normal var(--medium-tiny-text-size) / 16px
            var(--font-family);
    }

    .content {
        overflow-x: hidden;
    }
}

@media only screen and (max-height: 400px), only screen and (min-width: 650px) {
    #slider {
        height: calc(100vh - 120px) !important;
    }
}
@media only screen and (max-width: 1000px) {
    .innerContent {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
        display: block;
    }
    .innerContent .about {
        width: calc(100% - 40px);
        float: initial;
        margin-right: initial;
        padding-bottom: 30px;
    }

    .innerContent .map {
        height: 340px;
        width: calc(100% - 40px);
        float: initial;
        margin-left: initial;
        margin-top: 20px;
    }
}
